body{ 
    background: linear-gradient(to right, #000428, #004e92);
}
.container{ 
    display: flex;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    border-radius: 10px;
}
h1 {
    color: rgb(197, 0, 0);
    margin-top: 20px;
    font-weight: bold;
    font-style: italic;
}

#li {
    width: 98vw;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 3px double #00ff6a;
    padding: 2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

#eredmeny{
    display: flex;
    width: 40vw;
    justify-content: space-between;
}

input[type="text"], button{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label{
 size: 5vw;
 color: azure;
}

button{
    color: white;
    cursor: pointer;
}

#k, #nk{
    margin: 5px;
    padding: 8px;
    background-image: linear-gradient(62deg, #113558 23%, #53039e 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 255, 0);
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    
}