body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: rgb(177,58,180);
    background: linear-gradient(180deg, rgba(177,58,180,1) 8%, rgb(179, 79, 79) 31%, rgba(39, 110, 31,1) 56%, rgba(179, 79, 79, 1) 81%, rgba(177,58,180,1) 92%);}


h1, h2 {
    color: rgb(240, 236, 0);
    margin-top: 20px;
}

#li{
    width: 98vw;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#li, th, td {
    border: 3px double #00ff6a;
    padding: 2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

th, #tanhead {
    background-color: #11b174;
}

#kontent{
    margin: auto;
}

input[type="text"],
input[type="number"],
button{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label{
 size: 5vw;
 color: azure;
}

button{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#k, #nk, #ndk, #diakadat, #diakvaltoztatas, #diaktorles {
    margin-top: 10px;
    padding: 8px;
    background-color: #4eb824;
    color: white;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    width: fit-content;
    visibility: hidden;
    
}