body{
    background-image: url(lighttér.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    background: white;
    opacity: 0.3;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height:950px;
    width: 80%;
    background: rgba(255, 255, 255, 0.3);
    margin: auto;
    border-radius: 20px;
    
}
.cimhetkoznap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*.orak{
    
}*/
.ora{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    font-size: large;
}