.container{
    display: grid;
    background-color: lightblue;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 30px;
    height: 800px;
    width: 800px;
}
.item{
    background-color: orange;
    grid-column-end: span 2;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 20px;
    height: 300px;
    width: 300px;

}